.homepage {
    text-align: center;
    padding: 20px;
  }
  
  .homepage nav ul {
    list-style: none;
    padding: 0;
  }
  
  .homepage nav ul li {
    display: inline;
    margin: 0 15px;
  }
  
  .homepage nav ul li a {
    border: 1px solid #ccc;
    text-decoration: none;
    color: #0c0b0c;
  }
  
  .homepage h1 {
    margin-bottom: 20px;
  }
